/* etiqueta */
header {
	height: 100%;
	padding-top: 7rem;
	overflow: hidden;
}

/* header component */
.header__container {
	text-align: center;
	height: 100%;
	position: relative;
}

/* CTA component */
.cta {
	margin-top: 2.5rem;
	display: flex;
	gap: 1.2rem;
	justify-content: center;
}

/* headerSocials component */
.header__socials {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.8rem;
	position: absolute;
	left: 0;
	bottom: 3rem;
}

/* pasar sobre mis redes sociales con el curso */
.header__socials::after {
	content: '';
	width: 1px;
	height: 2rem;
	background: var(--color-primary);
}

/* fondo de mi foto  */
.me {
	background: rgb(44, 44, 108);
	background: linear-gradient(
		7deg,
		rgba(44, 44, 108, 0.36738445378151263) 4%,
		rgba(77, 181, 255, 1) 100%
	);
	width: 22rem;
	height: 26.2rem;
	position: absolute;
	left: calc(50% - 11rem);
	margin-top: 4rem;
	border-radius: 1rem 1rem;
	overflow: hidden;
	padding: 1.5rem 0rem;
}

/* scroll abajo */
.scroll__down {
	position: absolute;
	right: -2.3rem;
	bottom: 5rem;
	transform: rotate(90deg);
	font-weight: 300;
	font-size: 0.9rem;
}

/* media query para dispositivos medianos por ejemplo tablet  */
@media screen and (max-width: 1024px) {
	header {
		height: 68vh;
	}
}

/* media query para dispositivos pequeños por ejemplo teléfonos  */
@media screen and (max-width: 600px) {
	header {
		height: 100vh;
	}

	.header__socials,
	.scroll__down {
		display: none;
	}
}
